body {
	color: #333333;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.container {
	margin: 0 auto;
	width: 940px;
}

/* Cabeçalho */
header {
	position: relative;
	/*border: 1px solid black;*/
}

.sacola {
	background: url(../img/sacola.png) no-repeat top right;
	font-size: 14px;
	padding-right: 35px;
	padding-top: 8px;
	text-align: right;
	width: 140px;
	position: absolute; /* Vincula-se ao header que tem "position: relative;" */
	top: 0;
	right: 0;
}

.menu-opcoes {
	position: absolute;
	bottom: 0;
	right: 0;
}

.menu-opcoes a {
	color: #003366;
}

/*Cor do item quando o cursor é apontado*/
.menu-opcoes a:hover {
	color: #007dc6; 
}

/*Cor do item quando o cursor está sendo clicado*/
.menu-opcoes a:active {
	color: #867dc6;
}

.menu-opcoes ul {
	font-size: 15px;
}

.menu-opcoes ul li {
	display: inline;
	margin-left: 20px;
}
/* FIM Cabeçalho*/

/* Seção Central */
.destaque {
	margin-top: 10px;
}

.busca input {
	vertical-align: middle;
}

.busca input[type=search] {
	width: 170px;
}

.busca,
.menu-departamentos {
	background-color: #dcdcdc;
	font-weight: bold;
	text-transform: uppercase;
	margin-right: 10px;
	width: 230px;	
	float: left;
}

.menu-departamentos {
	clear: left;
	margin-top: 10px;
	padding-bottom: 10px;
}

.busca h2,
.busca form,
.menu-departamentos h2 {
	margin: 10px;
}

.menu-departamentos a {
	color: #333333;
	text-decoration: none;
}

.menu-departamentos li {
	background-color: white;
	margin-bottom: 1px;
	padding: 5px 10px;	
}

/*## Incluindo visibilidade do submenu com CSS ##*/
.menu-departamentos li ul {
	display: none;
}

.menu-departamentos li:hover ul {
	display: block;
}

.menu-departamentos ul ul li {
	background-color: #dcdcdc;
}

.menu-departamentos li li a:before {
	content: '\272A'; /*:= ✪ */
	padding-right: 3px;
}

/*## FIM Incluindo visibilidade do submenu com CSS ##*/

.painel {
	margin: 10px 0;
	padding: 10px;
	width: 445px;
}

.painel li {
	display: inline-block;
	vertical-align: top;
	width: 140px;
	margin: 2px;
	padding-bottom: 10px;
}

.painel h2 {
	font-size: 24px
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 10px;
}

.painel h2:before {
	content: '\2756'; /*:= ❖ */
	padding-right: 5px;
	opacity: 0.4;
}

.painel a {
	color: #333;
	font-size: 14px;
	text-align: center;
	text-decoration: none;
}

.novidades {
	float: left;
	background-color: #f5dcdc;
}
.mais-vendidos {
	float: right;
	background-color: #dcdcf5;
}
/* FIM Seção Central */
/* Rodapé */
footer {
	background-image: url(../img/fundo-rodape.png);
	clear: both;
	padding: 20px 0;
}

footer .container {
	position: relative;
}

.social {
	position: absolute;
	top: 12px;
	right: 0;
}

.social a {
	/* tamanho da imagem */
	height: 32px;
	width: 32px;
	/* image replacement */
	display: block;
	text-indent: -9999px;
}

.social a[href*="facebook.com"] {
	background-image: url(../img/facebook.png);
}

.social a[href*="twitter.com"] {
	background-image: url(../img/twitter.png);
}

.social a[href*="plus.google.com"] {
	background-image: url(../img/googleplus.png);
}

.social li {
	float: left;
	margin-left: 25px;
}
/* FIM Rodapé */