body {
	color: #333333;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.container {
	margin: 0 auto;
	width: 940px;
}

/* Cabeçalho */
header {
	position: relative;
	/*border: 1px solid black;*/
}

.sacola {
	background: url(../img/sacola.png) no-repeat top right;
	font-size: 14px;
	padding-right: 35px;
	padding-top: 8px;
	text-align: right;
	width: 140px;
	position: absolute; /* Vincula-se ao header que tem "position: relative;" */
	top: 0;
	right: 0;
}

.menu-opcoes {
	position: absolute;
	bottom: 0;
	right: 0;
}

.menu-opcoes a {
	color: #003366;
}

.menu-opcoes ul {
	font-size: 15px;
}

.menu-opcoes ul li {
	display: inline;
	margin-left: 20px;
}